form, section {
  margin-top: 10px;
}
label {
  display: block;
  display:inline-block;
  width: 80px;
}

button, input[type=submit] {
  height: 30px;
  width: 100px;
  background-color: lightblue;
}

button {
  height: 30px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: lightblue;
}

#nav li {
  display: inline
}

.tags li {

  display: inline-block;
  background-color: darkblue;
  color: lightyellow;
  padding: 2px 5px;
  font-size: smaller;
  margin-right: 5px

}